*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(
135deg,
#f8d9c8,
#ecdfff,
#d6d9ff
);
min-height:100vh;
}

.dashboard-container{
display:flex;
}

.sidebar{
width:260px;
height:100vh;

background:rgba(255,255,255,.4);

backdrop-filter:blur(15px);

padding:30px;

position:fixed;
}

.sidebar h2{
color:#6b4dff;
margin-bottom:40px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px;
border-radius:15px;
margin-bottom:10px;
cursor:pointer;
}

.sidebar li.active{
background:#7c5cff;
color:white;
}

.content{
margin-left:280px;
padding:40px;
width:100%;
}

.welcome-card{
background:rgba(255,255,255,.5);

backdrop-filter:blur(15px);

padding:30px;

border-radius:25px;

display:flex;
justify-content:space-between;
align-items:center;
}

.mood-badge{
background:#7c5cff;
color:white;
padding:10px 20px;
border-radius:20px;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-top:25px;
}

.stat-card{
background:rgba(255,255,255,.5);

padding:25px;

border-radius:20px;
}

.activity-card{
background:rgba(255,255,255,.5);

padding:30px;

border-radius:25px;

margin-top:25px;
}

.bars{
height:250px;

display:flex;

align-items:flex-end;

justify-content:space-around;

margin-top:30px;
}

.bar{
width:45px;

background:#c5b5ff;

border-radius:15px 15px 0 0;

position:relative;
}

.bar.active{
background:#7c5cff;
}

.bar span{
position:absolute;
bottom:-30px;
left:50%;
transform:translateX(-50%);
font-size:13px;
}

.bottom-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:25px;
}

.todo-card,
.leader-card{
background:rgba(255,255,255,.5);

padding:25px;

border-radius:25px;
}